body {
  padding: 0;
  margin: 0;
  background-color: #3a3132;
  color: #f2edd7;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page .login-page-container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border-radius: 10px;
}

.login-page .login-page-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.login-page .login-page-content .section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-page .login-page-content .section.password {
    margin: 30px 0;
}

.login-page .login-page-content .section.password .input-password {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Show and hide */

.login-page .login-page-content .section.password .input-password .show-button{
  cursor: pointer;
}
.login-page .login-page-content .section.password .input-password .show-button.hide-active {
  display: none;
}

.login-page .login-page-content .section.password .input-password  .hide-button {
  cursor: pointer;
  display: none;
}

.login-page .login-page-content .section.password .input-password  .hide-button.show-active {
  display: inline-block;
}

/* Show and hide */

.login-page .login-page-content .section label {
  font-size: 1.2rem;
}

.login-page .login-page-content .section input {
  padding: 15px 20px;
  outline: none;
  border: none;
}

.login-page .login-page-content p a {
  text-decoration: none;
  color: #fecf30;
}

.login-page .login-page-content button {
  padding: 10px;
  color: #3a3132;
  background-color: #f2edd7;
  outline: none;
  border: none;
  cursor: pointer;
}

.login-page-popup {
    background-color: #f2edd7;
    color: #3a3132;
    position: absolute;
    top: 10%;
    left: 45%;
    padding: 10px;
    display: none;
}

.login-page-popup.active {
    display: inline-block;
}

.login-page-popup i{
    font-size: 1.5rem;
    cursor: pointer;
}