body {
    padding: 0;
    margin: 0;
    background-color: turquoise;
}

.biodata .biodata-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biodata .biodata-container .foto-profile {
    
}

.biodata .biodata-container .foto-profile img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.biodata .biodata-container .profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.biodata .biodata-container .profile-description h1 {
    margin-bottom: 1px;
}